

.card{
    -ms-transform: skewX(10deg); /* IE 9 */
    transform: skewx(10deg);
    transform: scaleX(0.7 0.5 );
    transition: width 2s;
    height:300px;
    width: 300px;
    font: bold 14px Arial, Helvetica;
    font-size: 15px;
    border: 1px solid #ffffff;
    margin: 10px;
    padding: 12px;
    -webkit-box-shadow: 16px 27px 38px -3px rgb(255, 255, 255);
-moz-box-shadow: 16px 27px 38px -3px rgb(247, 238, 238);
box-shadow: 16px 27px 38px -3px rgb(247, 243, 243);
border-radius: 3%;





}
.card:hover {
    width: 180px;
    height: 280px;
    transform: rotate(350deg);
    background-color: rgb(121, 121, 131);
 
  }






.img{
    height: 50%;
    width:50%;
    display: block;
    margin:auto;
    border-radius: 3%;
    object-fit: cover;
box-shadow: black;


}

.name{
    font: bold 20px Arial, Helvetica;
    text-decoration: tomato;
    color: rgb(8, 0, 0);
    outline: none;
    text-align:center;
    transition: width 2s;


}

.text{
    color: blanchedalmond;
    margin: 1%;
    font:  bold 15px Arial, Helvetica;
    text-align:center;
}

.click{
    text-align:center;
    font: italic 15px  Helvetica,Arial;
}

.error{
    font:  bold 40px Arial, Helvetica;
    color: black;
    border: 5px solid yellow;
    text-align: center;
}
